@page "/facilitysports/details"
@using Microsoft.EntityFrameworkCore
@using HealthIsWealth.DatabaseTables
@inject IDbContextFactory<HealthIsWealth.Data.HealthIsWealthContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>FacilitySport</h2>
    <hr />
    @if (facilitysport is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">SportID</dt>
            <dd class="col-sm-10">@facilitysport.SportID</dd>
            <dt class="col-sm-2">FacilityID</dt>
            <dd class="col-sm-10">@facilitysport.FacilityID</dd>
            <dt class="col-sm-2">VenueID</dt>
            <dd class="col-sm-10">@facilitysport.VenueID</dd>
        </dl>
        <div>
            <a href="@($"/facilitysports/edit?facilitysportid={facilitysport.FacilitySportID}")">Edit</a> |
            <a href="@($"/facilitysports")">Back to List</a>
        </div>
    }
</div>

@code {
    private FacilitySport? facilitysport;

    [SupplyParameterFromQuery]
    private int FacilitySportID { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        facilitysport = await context.FacilitySport.FirstOrDefaultAsync(m => m.FacilitySportID == FacilitySportID);

        if (facilitysport is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
